<% layout("/layouts/boilerplate") %> 

<% if (allListings.length === 0) { %>
  <div class="alert alert-warning text-center mt-4">
    No results found<% if (search) { %> for "<%= search %>" <% } %>
  </div>
<% } else { %>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for (let listing of allListings) { %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
          
          <img 
            src="<%= listing.image.url %>" 
            class="card-img-top" 
            style="height: 20rem"
          >
          
          <!-- Overlay for hover effect -->
          <div class="card-img-overlay"></div>

          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br>
              ₹<%= listing.price.toLocaleString("en-IN") %> / night
              <span class="tax-info"> +18% GST</span>
            </p>

      
            <% if (listing.tags && listing.tags.length > 0) { %>
              <div class="mt-1">
                <% listing.tags.forEach(tag => { %>
                  <span class="badge tag-badge bg-light text-dark border me-1 mb-1">
                    <%= tag %>
                  </span>
                <% }) %>
              </div>
            <% } %>

          </div>
        </div>
      </a>
    <% } %>
  </div>
<% } %>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (let info of taxInfo) {
      info.style.display = info.style.display !== "inline" ? "inline" : "none";
    }
  });
</script>


